<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div style="text-align: center">
    <form action="/chart" method="get">
        <br>
        <br>
        <label>email:
            <input type="text" name="email"  size="30" maxlength="50">
        </label>
        <br>
        <br>
        <label>from:
            <input type="date" name="from" >
        </label>
        <br>
        <br>
        <label>to:
            <input type="date" name="to" >
        </label>
        <br>
        <br>
        <input type="submit" value="submit">
    </form>
</div>

</body>
</html>